/* w unit vw */
.w50 {
    max-width: 50vw;
}

.w60 {
    max-width: 60vw;
}

.w70 {
    max-width: 70vw;
}

.w80 {
    max-width: 80vw;
}

.w90 {
    max-width: 90vw;
}

.w100 {
    max-width: 100vw;
}

/* x use % */
.x2 {
    width: 2%;
}

.x4 {
    width: 4%;
}

.x8 {
    width: 8%;
}

.x10 {
    width: 10%;
}

.x15 {
    width: 15%;
}

.x20 {
    width: 20%;
}

.x25 {
    width: 25%;
}

.x30 {
    width: 30%;
}

.x33 {
    width: 33%;
}

.x35 {
    width: 35%;
}

.x40 {
    width: 40%;
}

.x45 {
    width: 45%;
}

.x50 {
    width: 50%;
}

.x55 {
    width: 55%;
}

.x60 {
    width: 60%;
}

.x65 {
    width: 65%;
}

.x70 {
    width: 70%;
}

.x75 {
    width: 75%;
}

.x80 {
    width: 80%;
}

.x85 {
    width: 85%;
}

.x90 {
    width: 90%;
}

.x92 {
    width: 92%;
}

.x94 {
    width: 94%;
}

.x96 {
    width: 96%;
}

.x98 {
    width: 98%;
}

.x100 {
    width: 100%;
}