/* font size */
.fs12 {
    font-size: 12px;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

.fs24 {
    font-size: 24px;
}

.fs28 {
    font-size: 28px;
}

.fs32 {
    font-size: 32px;
}

.fs36 {
    font-size: 36px;
}

/* font weight */
.fw200 {
    font-weight: 200;
}

.fw400 {
    font-weight: 400;
}

.fw700 {
    font-weight: 700;
}

.fw900 {
    font-weight: 900;
}

/* line-height */
.lh2 {
    line-height: 2;
}

.lh3 {
    line-height: 3;
}

.lh4 {
    line-height: 4;
}

.lh5 {
    line-height: 5;
}