/* h unit vh */
.h50 {
    min-height: 50vh;
}

.h60 {
    min-height: 60vh;
}

.h70 {
    min-height: 70vh;
}

.h80 {
    min-height: 80vh;
}

.h90 {
    min-height: 90vh;
}

.h100 {
    min-height: 100vh;
}

/* y unit px */
.y10 {
    height: 10px;
    line-height: 10px;
}

.y15 {
    height: 15px;
    line-height: 15px;
}

.y20 {
    height: 20px;
    line-height: 20px;
}

.y25 {
    height: 25px;
    line-height: 25px;
}

.y30 {
    height: 30px;
    line-height: 30px;
}

.y35 {
    height: 35px;
    line-height: 35px;
}

.y40 {
    height: 40px;
    line-height: 40px;
}

.y45 {
    height: 45px;
    line-height: 45px;
}

.y50 {
    height: 50px;
    line-height: 50px;
}

.y55 {
    height: 55px;
    line-height: 55px;
}

.y60 {
    height: 60px;
    line-height: 60px;
}

.y65 {
    height: 65px;
    line-height: 65px;
}

.y70 {
    height: 70px;
    line-height: 70px;
}

.y75 {
    height: 75px;
    line-height: 75px;
}

.y80 {
    height: 80px;
    line-height: 80px;
}

.y100 {
    height: 100px;
    line-height: 100px;
}

.y120 {
    height: 120px;
}

.y160 {
    height: 160px;
}

.y240 {
    height: 240px;
}

.y320 {
    height: 320px;
}

.y360 {
    height: 360px;
}

.y400 {
    height: 400px;
}

.y480 {
    height: 480px;
}

.y560 {
    height: 560px;
}

.y640 {
    height: 640px;
}

.y720 {
    height: 720px;
}

.y960 {
    height: 960px;
}